- content_for :header, 'When do you want to visit?'

= render 'slotpicker_templates'

- if instant_booking? && process_as_email?
  #instant-booking.flow-note
    %p Your visit request will be sent to visit booking staff to process manually.

- if visit.slots.any? {|s| s.errors.any?}
  #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
    %h2#error-heading You need to fix the errors on this page before continuing.
    %p You need to select a date and time for your visit.

.SlotPicker{ :'data-option-limit' => (instant_booking? && !process_as_email?) ? '1' : '3' }

  - if instant_booking? && !process_as_email?

    .right-column.visible--js-enabled

      = render 'slots'

      = render 'choices', hide: true

    .left-column

      = render 'calendar'

      = render 'dateslider'

      = render 'legend'

  - else

    .right-column.visible--js-enabled

      = render 'calendar'

      = render 'dateslider'

      = render 'legend'

      = render 'slots'

    .left-column

      = render 'choices', hide: false


  = form_for visit, url: update_choose_date_and_time_path, :html => { :class => 'slot-form' } do |f|

    .hidden--js-enabled
      - @slots.each_with_index do |slot, index|
        = f.fields_for :slots, slot do

          .group
            %label Option #{index+1}

            - if instant_booking? && !process_as_email?

              %select.SlotPicker-input(name='visit[slots][][slot]')
                %option(value='') none
                - if @available_slots
                  - @available_slots.each do |slot|
                    - value = slot_value slot
                    %option{ value: value, selected: ('selected' if value == current_slots[index]) }= slot[:start_time].strftime('%A, %e %B - ') + slot[:start_time].strftime('%l:%M%P')

            - else

              %select.SlotPicker-input(name='visit[slots][][slot]')
                %option(value='') none
                - Schedule.new(prison_data).dates(Date.today).each do |date|
                  - slots_for_day(date).each do |slot|
                    - value = [date.strftime('%Y-%m-%d'), slot.join('-')].join('-')
                    %option{ value: value, selected: ('selected' if value == current_slots[index]) }= date.strftime('%A, %e %B - ') + Time.strptime(slot[0].to_s, '%H%M').strftime('%l:%M%P')

    .actions
      .primary-actions
        = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary js-submit'
      %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

  = render 'ad_help'
